{:remove-surrounding-whitespace?  true
 :remove-trailing-whitespace?     true
 :remove-consecutive-blank-lines? false
 :insert-missing-whitespace?      true
 :align-associative?              false
 :indents                         {clojure.test.check.properties/for-all [[:inner 0]]
                                   gen/let [[:inner 0]]
                                   prop/for-all [[:inner 0]]
                                   &testing [[:inner 0]]}}