**/*.map
**/*.ts
**/.eslintrc.json
**/tsconfig.json
.calva/**
.clj-kondo/**
.cljfmt.edn
.github/**
.gitignore
.gitmodules
.gitpod.dockerfile
.lsp/**
.obsidian/**
.shadow-cljs/**
.vscode-test/**
.vscode/**
.yarnrc
Makefile
dev/**
languages/**
node_modules/**
out/**
playground/**
repl.js
scripts/**
shadow-cljs.edn
src/**
vsc-extension-quickstart.md
webpack.config.js