{:dependencies [[binaryage/oops "0.7.1"]
                [cljstache "2.0.6"]]
 :source-paths ["src/cljs"]
 :builds       {:lib
                {:target    :node-library
                 :exports   {:forward-slurp owlbear.parser.html.tagedit.slurp/forward-slurp
                             :forward-barf owlbear.parser.html.tagedit.barf/forward-barf}
                 :output-to "out/owlbear-grammar.js"}
                :test
                {:target    :node-test
                 :output-to "out/owlbear-grammar-test.js"
                 :ns-regexp "-test$"
                 :autorun true}}}