{:dependencies [[binaryage/oops "0.7.1"]
                [cljs-bean "1.8.0"]
                [cljstache "2.0.6"]
                [com.velisco/strgen "0.2.1" :exclusions [org.clojure/alpha.spec]]
                [hiccups "0.3.0"]
                [org.clojure/core.match "1.0.0"]
                [org.clojure/test.check "1.1.1"]]
 :source-paths ["src/cljs" "dev"]
 :builds       {:lib
                {:target    :node-library
                 :exports   {:htmlForwardBarf owlbear.edit/html-forward-barf
                             :htmlForwardSlurp owlbear.edit/html-forward-slurp
                             :htmlKill owlbear.edit/html-kill
                             :htmlRaise owlbear.edit/html-raise
                             :loadLanguageWasm owlbear.parse/load-language-wasm!}
                 :output-to "out/cljs/owlbear.js"}
                :test
                {:target    :node-test
                 :main owlbear.test-runner/init
                 :output-to "out/cljs/owlbear-test.js"
                 :autorun true}}}