$oxford-blue-000: #285298;
$oxford-blue-100: #224783;
$oxford-blue-200: #1d3c6f;
$oxford-blue-300: #2c84fa; // This sticks out, but only the Note callout is using it
$oxford-blue-400: #131f33;
$oxford-blue-500: #0C192E;